.gupy-enhancer,
.gupy-enhancer * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.gupy-enhancer {
    position: relative;
}

.ge-watermark {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    color: #155dfc;
    padding: 0.5rem;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
}

.ge-watermark-name {
    color: #155dfc;
    text-decoration: solid underline 2px #155dfc;
    text-underline-offset: 2px;
    text-shadow: #bedbff 0 0 5px;
}

.ge-watermark-name:hover {
    color: #193cb8;
    text-decoration: solid underline 2px #193cb8;
    text-shadow: #dbeafe 0 0 5px;
}

.ge-job-details {
    position: relative;
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    margin: 25px 10px 30px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #eff6ff;
    border: #155dfc solid 1px;
    color: #155dfc;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 0.875rem;
}

.ge-job-details ul {
    margin-top: 0.375rem;
    list-style: disc inside;
}

.ge-job-details .ge-title {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.ge-job-details .ge-label {
    font-weight: 500;
}

.ge-timeline {
    display: flex;
}

.ge-timeline-item {
    position: relative;
    border-left: 2px solid #e5e7eb;
    margin-left: 1.1rem;
    padding-left: 1.5rem;
    font-family: ui-sans-serif, system-ui, sans-serif;
    height: 100%;
    width: 100%;
}

.ge-timeline-card {
    position: relative;
    background-color: #fff;
    border: #155dfc solid 1px;
    border-radius: 0.5rem;
    padding: 1rem 1.25rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.ge-timeline-item .ge-marker {
    position: absolute;
    left: -0.75rem;
    top: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #f9f9f9;
    color: #99a1af;
}

.ge-ocult-step {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #155dfc;
    padding: 0.5rem;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
}

.ge-timeline-item .ge-title {
    display: flex;
    flex-direction: row;
    align-items: start;
    position: relative;
    margin-bottom: 0.25rem;
    color: #6b7280;
}

.ge-timeline-item .ge-title-name {
    font-size: 1.375rem;
    font-weight: 600;
}

.ge-timeline-item .ge-title-desc {
    font-size: 0.7rem;
    margin-left: 0.25rem;
    padding: 0.15rem 0.25rem;
    border-radius: 0.25rem;
    background-color: #6b7280;
    color: #fff;
}

.ge-timeline-item .ge-desc {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #6b7280;
}

.ge-candidates-count {
    color: #155dfc;
}
